.body {
  font-family: 'Quicksand', sans-serif;
  background: #888888;
}

.navbar{
  width: auto;
  height: auto;
  position: center;
}

.navbar_btn{
  width: 19%;
  background-color: rgb(102, 153, 255);
  color: white;
  border-color: transparent;
  border-radius: 5px;

}

button:hover{
  background: white;
  color: black;
  border-color: transparent;
  border-radius: 5px;
}

.navbar_img{
  background-image : url(img/logo/Element1.png);
  background-repeat : no-repeat;
  width: 20%;
  border-color: transparent;
  border-radius: 10px;
}

.sites-displaynone{
  display: none;
}








